* {
    margin: 0;
    padding: 0;
}

body {
    width: 90vw;
    height: 90vh;
    font-family: sans-serif;

}


.my-header {
    margin-left: 20px;
    display: flex;



}

.my-huntr {
    display: flex;
    font-size: 20px;
    margin-left: 40px;
    color: palevioletred;
    margin-top: 20px;

}






#nav-link {

    margin-left: 4em;
    text-align: center;
    padding-top: -20px;

}

a {
    padding: 10px;
    color: black;


}

.my-info {
    margin-left: 56%;
    text-align: right;


}

.ladys-phone {
    width: 50vw;
    margin-top: -42px;

}

.my-logo {
    margin-top: -33%;
}

.my-div {
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    text-transform: capitalize;
    margin-left: 50px;
    font-size: 25px;
}

.my-starter {
    color: palevioletred;

}

.my-dream {
    font-size: 20px;
}

#header-content {
    font-size: 50%;
    padding: 2px;


}

@media only screen and (max-width:490px) {
.body{

    width: 20vw;
}

    .my-div {
        
        font-size: small;
    }
    .my-starter{
        color: purple;
        text-align: center;
        padding-top: 40px;
    }
    .my-dream{
font-size: 25px;
padding-left: 2px;
text-align: center;

    }
    p{
        font-size: 10px;
        padding: 3px;
        text-align: center;
        
    }
    .ladys-phone{
width: 60vw;
padding-right: -50px;

    }
    .log{
width: 20vw;
margin-top: 5em;

    }
     .my-logo{
        margin-top: 1.3%;


    }

}





